h1,
p,
h2,
h3,
li {
  text-align: center;
  color: #5a6275;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin-top: 10px;
}
h1 {
  font-weight: 700;
  margin-top: 17px;
  font-size: 80px;
  text-transform: capitalize;
  padding-bottom: 20px;
}
li {
  list-style: none;
  text-align: left;
}
.list {
  padding-top: 50px;
  padding-left: 80px;
  list-style: none;
  line-height: 35px;
  font-weight: 400;
}
.icon {
  padding-left: 105px;
  display: block;
}
.description {
  text-transform: capitalize;
}
.container {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  min-width: 700px;
  max-width: 700px;
  background-color: #ffffff8f;
}

.searchCity {
  margin-left: 65px;
}
.submitSearch {
  background-color: #eac83e;
  border: none;
  padding: 9.5px;
  border-radius: 5px;
  width: 90px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #5a6275;
  font-weight: 600;
}
.current-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #9d8936;
  font-weight: 600;
  padding-left: 30px;
}

.search {
  margin: 0 auto;
  width: 400px;
  padding: 5px;
  display: inline-block;
  margin: 0 auto;
}
.submitSearch {
  margin: 7px;
}
.date,
.time {
  font-size: 21px;
}
,
.celsius {
  color: #5a6275;
}
.temperature {
  font-size: 45px;
  display: inline-block;
  margin-left: 100px;
}
.temp-con {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}
.day {
  /* text-align: center; */
  padding-left: 30px;
}
.temp1 {
  font-weight: 600;
  padding-left: 20px;
}
.temp2 {
  text-align: center;
}
.forecast {
  width: max-content;
  margin-right: 10px;
}
.temp-border {
  padding: 15px;
  margin-top: 10px;
}
.forecast-temps {
  width: max-content;
  text-align: center;
}
.forecast-icon {
  max-width: 90px;
}
